* {
    font-family: "poppins";
}
.fast-nav {
    display: flex;
}
.search {
    margin-left: 150px;
    margin-top: 25px;
}
.srch {
    color: #F28705;
    font-size: 20px;
}
.logo {
    margin-left: 500px;
    margin-top: 10px;
}
.logo img {
    height: 50px;
    width: 115px;
}
.bag {
    margin-top: 25px;
    margin-left: 520px;
}
.bag-1 {
    color: #F28705;
    font-size: 20px;
}
nav {
    background-color: #e5e6e5;
    width: 100%;
    height: 62px;
    /* margin-top: 5px; */
}
.menu a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    padding: 0 8px;
    margin: 20px 20px  0px 20px;
    position: relative;
}
.menu {
    margin-left: 80px;
    display: flex;
    align-items: center;
}
.menu a::before {
    content: '';
    position: absolute;
    bottom: -10px;
    height: 2px;
    width: 0%;
    left: 0;
    background-color: #000000;
    transition: all .5s;
}
.menu a:hover::before {
    width: 100%;
}
.banner {
    margin-top: 30px;
}
/* Product description Start css */
.prdct h1{
    text-align: center;
    font-size: 40px;
    font-family: "Poppins", sans-serif;
} 
.Product-box {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    margin-left: 200px;
    padding: 0px;
    column-gap: 5px;
}
.border-line {
    height: 355px;
    width: 210px;
    margin: 10px;
    border: 1px solid #dddada;
}
.prdt-img img {
    height: 190px;
    width: 190px;
    margin: 10px;
}
.prdt-p p {
    text-align: center;
    
}
.prdt-p p:hover{
    color: #bab8b8;
}
.prdt-tk {
    text-align: center;
    /* margin-top: 20px; */
}
.prdt-tk-through {
    margin-left: 20px;
    display: flex;
    margin-top: -20px;
}
.line-through {
    text-decoration: line-through;
}
.space {
    margin-left: 8px;
}
.prdt-btn {
    margin-left: 26px;
}
.btn {
    background-color: #FC8934;
    color: #ffffff;
    width: 150px;
    padding: 13px 32px;
    /* margin: 0 0 20px 0; */
    border: none;
    border-radius: 5px;
}
.btn:hover {
    transform: scale(1.1);
}
/* Product description End css */
/* Collection Start */
    .sect {
        margin-top: 180px;
    }
/* Collection End */
.Collection-box {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    margin-left: 200px;
}
.clect-boxsize {
    height: 180px;
    width: 140px;
}
.clect-img img {
    height: 120px;
    width: 120px;
    margin: 10px;
}
.clect-p p {
    text-align: center;
    font-family: sans-serif;
    font-size: 21px;
}
/* Footer Start */
.Footer {
    margin-top: 180px;
    margin-left: 20px;
}
.footer-box {
    height: 50px;
    width: 560px;
}
.footer-box p {
    
}
.footer-menu {
    margin-left: -125px;
}
.footer-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.footer-box img{
    height: 50px;
    width: 115px;
}
.footer-menu a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    padding: 0 8px;
    margin: 20px 20px  0px 20px;
    position: relative;
}
.footer-menu a:hover {
    color: #FC8934;
}
.footer-menu a{
    display: block;
    margin-left: -25px;
}
.footer-menu a::before {
    content: '';
    position: absolute;
    bottom: -10px;
    height: 2px;
    width: 0%;
    left: 0;
    background-color: #FC8934;
    transition: all .5s;
}
.footer-menu a:hover::before {
    width: 34%;
}
.footer-menu p {
    color: #FC8934;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin-left: -15px;
}
.id-num {
    margin-left: -150px;
}
.id-num p{
    font-family: sans-serif;
    font-weight: 700;
}
.last {
    background-color: #FC8934;
    margin-top: 50px;
    height: 70px;
    width: 100%;
}
.copyright {
    margin-left: 70%;
    position: absolute;
    margin-top: 5px;
    color: #ffffff;
}
.copy p{
    font-family: sans-serif;
}
/* Footer End */
