body {
    font-family: "poppins";
}
.fast-nav {
    display: flex;
}
.search {
    margin-left: 150px;
    margin-top: 25px;
}
.srch {
    color: #F28705;
    font-size: 20px;
}
.logo {
    margin-left: 500px;
    margin-top: 10px;
}
.logo img {
    height: 50px;
    width: 115px;
}
.bag {
    margin-top: 25px;
    margin-left: 520px;
}
.bag-1 {
    color: #F28705;
    font-size: 20px;
}
nav {
    background-color: #e5e6e5;
    width: 100%;
    height: 62px;
    /* margin-top: 5px; */
}
.menu a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    padding: 0 8px;
    margin: 20px 20px  0px 20px;
    position: relative;
}
.menu {
    margin-left: 80px;
    display: flex;
    align-items: center;
}
.menu a::before {
    content: '';
    position: absolute;
    bottom: -10px;
    height: 2px;
    width: 0%;
    left: 0;
    background-color: #000000;
    transition: all .5s;
}
.menu a:hover::before {
    width: 100%;
}
.banner {
    margin-top: 30px;
}